public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript-eslint*
public-hoist-pattern[]=@eslint/*
public-hoist-pattern[]=@typescript-eslint/*
public-hoist-pattern[]=*prisma*
